<h1>Share Password</h1>

<%= form_with model: @user_password, url: password_shares_path(@password) do |f| %>
	<div>
		<%= f.label :user_id %>
		<%= f.collection_select :user_id, @users, :id, :email %>
	</div>
	<%= f.submit "Share" %>
<% end %>
