<h1>Edit Password</h1>

<%= render "form", password: @password %>

<% if current_user_password.deletable? %>
	<%= form_with model: @password, method: :delete, id: "delete_password", data: { turbo_confirm: "Are you sure?" } do |f| %>
		<%= f.submit "Delete" %>
	<% end %>
<% end %>
